.testimonials-full3:last-child{border: 0;}
.contact-map iframe{width: 100%; height: 456px;}
span.wpcf7-not-valid-tip{font-size: .8em}
div.wpcf7-response-output{float: left; border: none;}

nav ul li.current-menu-item a{ color:#062248; border-bottom:1px solid #062248; }